.task-form{

    display:flex;
    flex-direction:column;
    gap:15px;

}

.task-form input,
.task-form textarea,
.task-form select{

    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;

}

.task-form textarea{

    resize:none;
    height:100px;

}

.row{

    display:flex;
    gap:15px;

}

.row select{

    flex:1;

}

.task-form button{

    background:#2563eb;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;

}

.task-form button:hover{

    background:#1d4ed8;

}